/*
    // ========================================== Global Reset ========================================== //
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout:none;
  background:transparent;
}

sup {
	position:relative;
	display:inline-block;
	vertical-align:top;
	font-family: Arial;
	font-size:65%;
	margin:-.35em 0 0 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

::selection { background:transparent; text-shadow: none; }
a:link { -webkit-tap-highlight-color: transparent; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; }
a, a:active, a:visited {  }
a:hover {  }

/*
    // ========================================== Global Styles ========================================== //
*/


body {
	height: 768px;min-height:768px; max-height:768px;
	width: 1024px; min-width:1024px; max-width:1024px;
	overflow:hidden;
}

h1 {
    font-size: 22px;
}

h1, h2, h3, p {
    margin-bottom: 12px;
}



@media all and (orientation:portrait) {

}


@media all and (orientation:landscape) {

}
